<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/upload">
     ID:<input type="text" name="m0" value="<%= data[0].ID %>"></br></br>
     Name:<input type="text" name="m1" value="<%= data[0].Name %>"></br></br>
     Email:<input type="text" name="m2" value="<%= data[0].Email %>"></br></br>
     password<input type="text" name="m3" value="<%= data[0].Password %>"></br></br>
      <button type="submit">Click</button>
      
    </form>
</body>
</html>